In [4]:
import pandas as pd
import numpy as np
import math

In [5]:
df = pd.read_csv('google-cluster-data-1.csv',sep=' ')

In [6]:
df

,Time,ParentID,TaskID,JobType,NrmlTaskCores,NrmlTaskMem,Unnamed: 6
0,90000,757745334,1488529826,0,0.000000,0.031130,NaN
1,90000,975992247,1488529821,0,0.000000,0.000000,NaN
2,90000,1468458091,1488529832,1,0.021875,0.002353,NaN
3,90000,1460281235,1488529840,0,0.000000,0.000000,NaN
4,90000,1164728954,1488529835,0,0.003125,0.001638,NaN
...,...,...,...,...,...,...,...
3535024,112500,1487094655,1487103476,0,0.000000,0.000879,NaN
3535025,112500,1461321601,1465612301,0,0.000000,0.000879,NaN
3535026,112500,1487094655,1487097223,0,0.000000,0.000879,NaN
3535027,112500,618817162,1485932004,1,0.000000,0.000879,NaN
3535028,112500,1213243701,1349431592,0,0.000000,0.000879,NaN

## Append ExecutionTime column to dataframe

In [7]:
exec_time_arr = []
subtasks = 0
quantum = 300
for task in df.itertuples():
    taskID = task.TaskID
    burstTime = ((taskID%2)+1)*quantum
    exec_time_arr.append(burstTime)
    subtasks += burstTime / quantum

exec_time_frame = pd.DataFrame({'ExecutionTime': exec_time_arr})
df = df.join(exec_time_frame)
df

,Time,ParentID,TaskID,JobType,NrmlTaskCores,NrmlTaskMem,Unnamed: 6,ExecutionTime
0,90000,757745334,1488529826,0,0.000000,0.031130,NaN,300
1,90000,975992247,1488529821,0,0.000000,0.000000,NaN,600
2,90000,1468458091,1488529832,1,0.021875,0.002353,NaN,300
3,90000,1460281235,1488529840,0,0.000000,0.000000,NaN,300
4,90000,1164728954,1488529835,0,0.003125,0.001638,NaN,600
...,...,...,...,...,...,...,...,...
3535024,112500,1487094655,1487103476,0,0.000000,0.000879,NaN,300
3535025,112500,1461321601,1465612301,0,0.000000,0.000879,NaN,600
3535026,112500,1487094655,1487097223,0,0.000000,0.000879,NaN,600
3535027,112500,618817162,1485932004,1,0.000000,0.000879,NaN,300
3535028,112500,1213243701,1349431592,0,0.000000,0.000879,NaN,300

## Create 100 VMs
Each of them has 7 CPU units and 11 MEM units. You could choose to use a 100*2 matrix to represent this data structure. First column is CPU and second column is MEM.

In [8]:
cpu_max = 7
mem_max = 11
VMs = [[cpu_max, mem_max] for i in range(100)]

In [9]:
# Calculate execution time